#Marker	Type	5'Flank	3'Flank	Motif	Period	Offset
Amelogenin	AUTOSOMAL	CCCTGGGCTCTGTAAAGAA	CAGCTTCCCAGT	TCAAGT	6	63
CSF1PO	AUTOSOMAL	CTGTTCTAAGTA	CTATCTATGAAGGCAGTTAC	ATCTATCTATCT	4	20
D10S1248	AUTOSOMAL	GTCACAAACATATTAATGAA	GTTCCTTTAATA	GGAAGGAAGGAA	4	41
D12S391	AUTOSOMAL	CTGTATTAGTAAGGCTTCTC	GCTGGAGACC	GTCTGTCTGTCT	4	112
D13S317	AUTOSOMAL	GACTCTCTGGAC	CTGCCTATGGCTCAACCCAA	TATCTATC	4	78
D16S539	AUTOSOMAL	AAAGGCAGATCCCAAGCTCT	ATGCTTACAGAT	GATAGATA	4	74
D17S1301	AUTOSOMAL	ATGCATGTGTTTATTTATAC	GTTATACACATT	AGATAGAT	4	25
D18S51	AUTOSOMAL	GAGTGACAAATTGAGACCTT	CATCTCCACACA	AGAAAGAAAGAA	4	63
D19S433	AUTOSOMAL	TTTGGTGCACCCATTACCCG	TTTTGCAGCCTC	AAGGAAGGAAGG	4	92
D1S1656	AUTOSOMAL	TCCTGTGTTAGTCAGGATTC	CATCACACAGT	TCTATCTATCTA	4	61
D20S482	AUTOSOMAL	CGTGTACTAGAGTTCTTCAG	CATGTGGTTATG	AGATAGAT	4	42
D21S11	AUTOSOMAL	GGACTTTTCTCAGTCTCCAT	CCAGTCTATCTA	CAGACAGACAGA	4	57
D22S1045	AUTOSOMAL	CTTAAACCTGAT	CATACATTCGCGTGATCACT	ATTATTATT	3	126
D2S1338	AUTOSOMAL	AGTAAGTTAAAGGATTGCAG	CTGTTTCCAAAT	GGAAGGAAGGAA	4	17
D2S441	AUTOSOMAL	AGGGCTACAGGAATCATGAG	GCTCCAATTTAA	TCTATCTATCTA	4	52
D3S1358	AUTOSOMAL	TGGTGTGTATTCCCTGTGCC	TGTCACCCAGAT	ATCTATCTATCT	4	66
D4S2408	AUTOSOMAL	TTCAATAGAAAG	CTATTTTTCAGTCATTTCAG	AGATAGAT	4	14
D5S818	AUTOSOMAL	TATCTGTATCCT	ATTACGTAAGGATACCAAAG	AGATAGATAGAT	4	20
D6S1043	AUTOSOMAL	TCTCCAGCTTAC	CACCCATCCTTGCACACTAT	ATCTATCT	4	85
D7S820	AUTOSOMAL	ATTAAATGTTTACTATAGAC	GACAAGTGTTCT	GATAGATA	4	55
D8S1179	AUTOSOMAL	ATTTCATGTGTACATTCGTA	CACAGTGAAAAT	TAGATAGATAGA	4	5
D9S1122	AUTOSOMAL	GGGGGTATTTCA	AGGTAAACTAGAAGCTTTCA	TCTATCTA	4	24
FGA	AUTOSOMAL	GAGTGATTTGTCTGTAATTG	CTAGCTTGTAAA	AAAGAAAG	4	23
PentaD	AUTOSOMAL	GCATGGTGAGGCTGAAGTAG	GGGGAAAAAAAGAGAAT	TCTTT	5	114
PentaE	AUTOSOMAL	CTTATTTGGGTTATTAATTG	GGGTTCAAGTGA	TCTTTTCTTT	5	94
TH01	AUTOSOMAL	AGGGCTTCCGAG	GAGGAACAGGCCAATGGGAA	ATGAATGA	4	44
TPOX	AUTOSOMAL	CTTAGGGAACCCTCAC	GCAAATAAACGC	AATGAATG	4	7
vWA	AUTOSOMAL	GGACAGATGATA	CCAAGTCACATACTGATTAT	TAGATAGACAGA	4	32
